h1{
    font-family: 'Rampart One', cursive;
    font-size: 250px;
    color: transparent;
    margin-right: 150px;
    background-image:url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/b8/Classic_Rainbow_Flag.png/1024px-Classic_Rainbow_Flag.png") ;
    background-clip: text;
    -webkit-background-clip: text ;
    text-align: center;
      
}
    
body{
    background-image: url("https://img.freepik.com/free-photo/beautiful-scenery-summit-mount-everest-covered-with-snow-white-clouds_181624-21317.jpg?w=1060&t=st=1686219480~exp=1686220080~hmac=cc12d461926f34aa03f293eb3dac67ad7ae259f474e3caadbe487bba678c8b78");
background-attachment: fixed;
background-repeat: no-repeat;
position:cover;
background-size: cover;
}

p
{
font-family: 'Sedgwick Ave Display', cursive;
color: #ff0000c6;
padding: 25px;
background-color:#ffb700c6;
backface-visibility:none ;
}
p.para{
    height: 50px;
    font-family:'Nosifer';
background-color: antiquewhite;
color: rgb(1, 1, 1);
text-shadow: 0 0 3px #ff0000;
padding: auto;
}

h1.font-effect-fire{
    font-family: "Sofia", sans-serif;
  font-size: 30px;
}

    